

body {
  display: inline;
}

header {
  margin-top: -18px;
}

h1 {
  background-color: #404041;
  font-family: sans-serif;
  font-size: 50px;
  text-align: center;
  padding-top: 24px;
  margin: 0;
  margin-bottom: 1em;
  color: #FF0089;
  /*margin: ;*/
  height: 90px;
}

#guesser {
  color: white;
  font-weight: 100;
}

#Number {
  width: 16em;
  height: 1.5em;
  font-size: 20px;   
}

/*.buttonHolder {
  text-align: center;
}*/

.guess {
  text-align: center;
  margin-top: 30px;
}

form {
  

}

.reset {
  align-items: flex-end;
  /*float: right;*/
}



.reset-btn {
  border-radius: 20px;
  border: none;
  width: 200px;
  background-color: #929497;
  color: #FFFFFF;
  margin-bottom: 50px;
  margin-left: 155%;
  /*float: center;*/
  /*text-align: center;*/
}

.guess-btn {
  border-radius: 20px;
  border: none;
  width: 100px;
  background-color: #929497;
  color: #FFFFFF;

}

.enabled-btn:hover {
  border: none;
  width: 100px;
  background-color: #EB008B;
  color: #FFFFFF;

}

.guess-display {
  margin-top: 0px;
  color: black;
  font-size: 80px;
  text-align: center;
}

.hint {
  text-align: center;
}

.disabled-btn {
  background-color: #D0D2D3;
}


.enabled-btn {
  background-color: #929497;
}
















